.databaseSelectionButton {
	-fx-text-fill: #FFFFFF;
	-fx-font-family: 'Arial';
	-fx-font-fize: 20px;
	-fx-font-weight: bold;
	-fx-background-color: #555555;
	-fx-background-radius: 12px;
	
	-fx-border-width: 2px;
	-fx-border-radius: 12px;
	-fx-border-color: #444444;
}

.databaseSelectionButton:hover {
	-fx-text-fill: #000000;
	-fx-background-color: #8f8f8f;
	-fx-border-color: #8f8f8f;
}

.databaseSelectionButton-selected {
	-fx-text-fill: #FFFFFF;
	-fx-font-family: 'Arial';
	-fx-font-fize: 20px;
	-fx-font-weight: bold;
	-fx-background-color: #1f60c2;
	-fx-background-radius: 12px;
	
	-fx-border-width: 2px;
	-fx-border-radius: 12px;
	-fx-border-color: #1f60c2;
}

.tool-bar {
	-fx-background-color: #000000;
}

.topViewButton {
	-fx-text-fill: #FFFFFF;
	-fx-font-family: 'Arial';
	-fx-font-fize: 20px;
	-fx-font-weight: bold;
	-fx-background-color: #555555;
	-fx-background-radius: 12px;
	
	-fx-border-width: 2px;
	-fx-border-radius: 12px;
	-fx-border-color: #444444;
}

.topViewButton:hover {
	-fx-text-fill: #000000;
	-fx-background-color: #8f8f8f;
	-fx-border-color: #8f8f8f;
}